[submodule "arduino-pico"]
	path = arduino-pico
	url = https://github.com/earlephilhower/arduino-pico.git
[submodule "external/Pico-PIO-USB"]
	path = external/Pico-PIO-USB
	url = https://github.com/sekigon-gonnoc/Pico-PIO-USB
[submodule "external/pico-sdk"]
	path = external/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "external/usb_midi_host"]
	path = external/usb_midi_host
	url = https://github.com/rppicomidi/usb_midi_host.git
