[submodule "external/Pico-PIO-USB"]
	path = external/Pico-PIO-USB
	url = https://github.com/delabrcd/Pico-PIO-USB.git
	branch = openrb
[submodule "external/pico-sdk"]
	path = external/pico-sdk
	url = https://github.com/delabrcd/pico-sdk.git
	branch = openrb
[submodule "external/usb_midi_host"]
	path = external/usb_midi_host
	url = https://github.com/rppicomidi/usb_midi_host.git
[submodule "external/tinyusb"]
	path = external/tinyusb
	url = https://github.com/delabrcd/tinyusb.git
	branch = openrb
